.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 95vh;
}

.header {
  background-color: black;
  color: white;
  height: 5vh;
}

.header h1 {
    margin: 0px;
}

.app-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.list-wrapper {
  width: 25%;
  height: 100%;
  overflow: auto;
}

.map {
  width: 75%;
}

.location-info {
  border: 2px solid;
  width: 95%;
  height: 100px;
}

.location-address {
  border: 1px solid;
}