.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 95vh;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  height: 5vh;
}

.header h1 {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#list-wrapper {
  display: block;
  width: 100%;
  /*height: 100%;*/
  margin-top: 10px;
  overflow: auto;
}


#map {
  width: 100%;
  height: 75%;
}

.location-name {
  height: 100px;
}


.location-info {
  border: 2px solid;
  width: 95%;
  min-height: 100px;
  margin: 10px auto;
  max-width: 50%;
}

.location-address {
  border: 1px solid;
}

.hamburger {
  width: 48px;
  height: 48px;
  background-image: url('./icons/if_menu-alt_134216.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  #list-wrapper {
    order: 0;
    height: 100%;
    width: 25%;
  }
  #map {
    order: 1;
    width: 75%;
    height: 100%;
  }
}